/* styles/globals.css */
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
/*:root {*/
/*  --bg: #151c2c;*/
/*  --bgSoft: #182237;*/
/*  --text: white;*/
/*  --textSoft: #b7bac1;*/
/*}*/
/*body {*/
/*  background-color: var(--bg);*/
/*  color: var(--text);*/
/*}*/

.toast-container {
  bottom: 20px !important;
  right: 20px !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.description {
  color: rgba(255, 0, 98, 0.97);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}






